.fancybox-close-small:focus:after {
    outline: none;
}
.fancybox-slide {
    overflow-x: hidden;
}
.fancybox-slide--complete .yii2-fancybox3-dialog {
    opacity: 1;
    transform: initial;
}
.fancybox-slide--video .fancybox-content {
    width  : 890px;
    height : 500px;
    max-width  : 80%;
    max-height : 80%;
}
@media (max-width: 900px) {
    .fancybox-slide--video .fancybox-content {
        width  : 790px;
        height : 404px;
    }
}
@media (max-width: 800px) {
    .fancybox-slide--video .fancybox-content {
        height : 360px;
    }
}
@media (max-width: 700px) {
    .fancybox-slide--video .fancybox-content {
        height : 316px;
    }
}
@media (max-width: 600px) {
    .fancybox-slide--video .fancybox-content {
        height : 272px;
    }
}
@media (max-width: 500px) {
    .fancybox-slide--video .fancybox-content {
        height : 228px;
    }
}
@media (max-width: 400px) {
    .fancybox-slide--video .fancybox-content {
        height : 180px;
    }
}
@media (max-width: 322px) {
    .fancybox-slide--video .fancybox-content {
        height : 146px;
    }
}